<?xml version="1.0"?>
<configuration>

	<appSettings file="appsettings.local.config">
		<add key="Scoop:ConnectionString" value="Data Source=SERVER;Initial Catalog=DATABASE;User Id=USER;Password=PASSWORD;" />
		<add key="Scoop:CookieName" value="COOKIE_NAME" />
		<add key="Scoop:CookieSecret" value="COOKIE_SECRET" />
		<add key="Scoop:CookieEncryption" value="Disabled" />
		<add key="Scoop:LoginUrl" value="about:blank" />
		<add key="Scoop:PackageFolder" value="tmp/sco" />
		<add key="Scoop:Whitelist" value="::1,127.0.0.1" />
	</appSettings>

	<system.web>

		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.IO.Compression, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
		</compilation>
		
		<httpRuntime targetFramework="4.7.2" maxRequestLength="209715200" />
		
	</system.web>
	
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="209715200" /><!-- 200 MB -->
			</requestFiltering>
		</security>
		<modules runAllManagedModulesForAllRequests="true" />
		<rewrite>
			<rules>

				<rule name="Home" stopProcessing="true">
					<match url="^$" />
					<action type="Rewrite" url="Visitor/Home.aspx" appendQueryString="false" />
				</rule>

				<rule name="Read" stopProcessing="true">
					<match url="^(about|privacy|terms)$" />
					<action type="Rewrite" url="Visitor/Read.aspx?article={R:1}" appendQueryString="false" />
				</rule>

				<rule name="Manage" stopProcessing="true">
					<match url="^admin$" />
					<action type="Rewrite" url="Manager/Admin.aspx" appendQueryString="false" />
				</rule>

				<rule name="Progress" stopProcessing="true">
					<match url="^sco-progress$" />
					<action type="Rewrite" url="Learner/Progress.ashx" appendQueryString="true" />
				</rule>

				<rule name="Report" stopProcessing="true">
					<match url="^(\w+)/(.+)/report$" />
					<action type="Rewrite" url="Manager/Report.aspx?o={R:1}&amp;p={R:2}" appendQueryString="false" />
				</rule>

				<rule name="List" stopProcessing="true">
					<match url="^(\w+)$" />
					<action type="Rewrite" url="Manager/List.aspx?o={R:1}" appendQueryString="true" />

				</rule>

				<rule name="Play" stopProcessing="true">
					<match url="^(\w+)/([\w-]+)$" />
					<action type="Rewrite" url="Learner/Play.aspx?o={R:1}&amp;p={R:2}" appendQueryString="true" />
				</rule>

			</rules>
		</rewrite>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>
</configuration>